
<!DOCTYPE html>
<html lang="en">

<head>
  <title> USMNT 2018 </title>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>

<body>
  <img src="BrooksGreenYedlin.jpg">
  <div>
    <h1 class='text'> USA!! USA!! </h1>
    <p class='text' id='intro'>
    Since the 2014 World Cup:
    </p>
    <ul class='text'>
      <li>Jozy Altidore has scored <%= @posts.jozy %> goals.</li>
      <li>Julian Green has scored <%= @posts.julian %> goals.</li>
      <li>DeAndre Yedlin has scored <%= @posts.yedlin %> goals.</li>
      <li>Darlington Nagbe has scored <%= @posts.nagbe %> goals.</li>
      <li>Aron Johannsson has scored <%= @posts.aron %> goals.</li>
      <li>Terrence Boyd has scored <%= @posts.boyd %> goals.</li>
      <li>Michael Bradley has scored <%= @posts.bradley %> goals.</li>
      <li>Juan Agudelo has scored <%= @posts.agudelo %> goals.</li>
      <li>Gedion Zelalem has scored <%= @posts.gedion %> goals.</li>
      <li>Luis Gil has scored <%= @posts.gil %> goals.</li>
      <li>Joe Corona has scored <%= @posts.corona %> goals.</li>
      <li>Wil Trapp has scored <%= @posts.trapp %> goals.</li>
    </ul>
  </div>
  
</body>

